<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.features">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_features">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name="com.example.features.TestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ndkdemo.MainActivity"
            android:exported="true"  />
    </application>
    
</manifest>